APP_ID=
APP_SECRET=
EMAIL=
PASSWORD=
DEVICE_SN=

BASE_URL=
OUT_DIR=/metrics

GRAFANA_URL=
GRAFANA_USER=
GRAFANA_API_KEY=

CADDY_BIND_IP=127.0.0.1
CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
PUBLIC_DOMAIN=metrics.example.com

PANEL_PASSWORD=PASSWD
FLASK_SECRET=LONG_RANDOM_STRING
