services:
  deye:
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile
    container_name: deye-collector
    env_file:
      - .env
    ports:
      - "9090:9090"
    restart: always
